@charset "utf-8";


/* All Mobile Code */

#wrap{
    width:100%; 
    min-width:1300px;
    height:auto;
    font-family: "-윤고딕110", sans-serif;
    font-size:14px;
}

#remote{
    display:none;
    position: fixed;
    top:50%; 
    transform: translateY(-50%); 
    right: 50px; 
    height:auto; 
    padding: 10px; 
    z-index:999;
}


/* ▼▼▼페이저버튼 원모형으로 생성▼▼▼ */
#remote a{
    display: block;
    width:16px;
    height:16px;
    border-radius: 50%; 
    background: #666;  
    text-indent: -9999px; 
    margin: 20px 0; 
}

#remote a:hover{
    background:#d2581e;
}


#conts1{
    width:100%;
    height:990px;
    background:#339999;
}

.c1_img>ul{
    display:flex;
}

.c1_ig{
    display:block;
    width:676px;
    height:894px;
    margin-left:-10%;
    margin-top:10%; 
    background:url("../img/e_pluse.png") no-repeat center / cover;
}

.c1_text{
    margin-left:4%;
    margin-top:14%;
}

.c1_img li:nth-child(2)>span:nth-child(1){
    font-family: "-윤고딕360", sans-serif;
    font-size:4.714em;
    color:#fff;
}

.c1_img li:nth-child(2)>span:nth-child(2){
    font-family: "-윤고딕110", sans-serif;
    font-size:4.714em;
    color:#fff;
    line-height:80px;
}

.c1_guide{
    position: relative;
    bottom:24%;
    left:10%;
    width:70%;
    height:auto;    
}

.c1_guide>span{
    display:block;
    margin-bottom:2%;
    color:#fff;
    font-family: "-윤고딕130", sans-serif;
    font-size:1.714em;
}

.c1_guide>p{
    color:#fff;
    font-family: "-윤고딕130", sans-serif;
    font-size:1.714em;
    padding-bottom:40px;    
    line-height:32px;
}


#conts2{
    width:100%;
    height:990px;
    background:url("../img/conts2.png") no-repeat 50% 0; 
}


#conts3{
    width:100%;
    height:990px;
    background:url("../img/conts3.png") no-repeat 50% 0; 
}


/* 포트폴리오1 page  */
#conts4{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts4.png") no-repeat 50% 0;
}

/* 포트폴리오1 바로가기 버튼  */
#conts4 a{
    position: absolute;
    font-family: "-윤고딕150",sans-serif;
    top:40%;
    right:25%;
    display:block;
    font-size:1.143em;
    width:170px;
    height:34px;
    border-radius:10px;
    text-align:center;
    line-height:34px;
    background:#006699;  
    color:#fff; 
    cursor: pointer;
}


/* 포트폴리오2 page  */
#conts5{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts5.png") no-repeat 50% 0;
}

#conts5 a{
    position: absolute;
    font-family: "-윤고딕150",sans-serif;
    top:40%;
    right:25%;
    display:block;
    font-size:1.143em;
    width:170px;
    height:34px;
    border-radius:10px;
    text-align:center;
    line-height:34px;
    background:#336633;  
    color:#fff; 
    cursor: pointer;
}

/* 포트폴리오3 page  */
#conts6{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts6.png") no-repeat 50% 0;
}

#conts6 a{
    position: absolute;
    font-family: "-윤고딕150",sans-serif;
    top:40%;
    right:25%;
    display:block;
    font-size:1.143em;
    width:170px;
    height:34px;
    border-radius:10px;
    text-align:center;
    line-height:34px;
    background:#669966;  
    color:#fff; 
    cursor: pointer;
}

#conts7{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts7.png") no-repeat 50% 0;
}


#conts8{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts8.png") no-repeat 50% 0;
}


#conts9{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts9.png") no-repeat 50% 0;
}

#conts10{
    position: relative;
    width:100%;
    height:990px;
    background:url("../img/conts10.png") no-repeat 50% 0;
}


footer{
    width:100%;
    height:120px;
    background:#666;
}

.footerIn{
    position: relative;
    width:70%;
    height:auto;
    margin:0 auto;
    top:50%;
    transform: translateY(-50%);   
}

.footerIn>p{
    font-family: "-윤고딕110", sans-serif;
    color:#fff;
    font-weight: 600;
    text-align:center;
    font-size:1.000em;
    line-height:21px;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased; 
}
 
@media all and (min-width:768px){
    
#conts4 a,
#conts5 a,
#conts6 a{    
    top:40%;
    right:25%;
    }    
}

@media all and (min-width:1200px){


#remote{
    display:block;
}

#conts4 a,
#conts5 a,
#conts6 a
    {   top:40%;
        right:29%;
    }
}

